<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/err.png') }}">
    <title>Error</title>
</head>
<body>
    <div class="container">
        <h1>Enter a URL</h1>
        <form method="post">
            <input type="text" name="url" placeholder="Enter URL">
            <input type="submit" value="Audit">
        </form>
        
        
            {% if error_message %}
            <div class="err">
                <p><strong>Error: </strong>{{ error_message }}</p>
            </div>
            {% elif status %}
            <div class="status">
                <p><strong>Status</strong></p>
                <div class="down arrow-down"><p>{{status}}</p></div>
            </div>
            {% endif %}
     
    </div>
    
    <footer class="footer">
        <p>Made with <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Flask</a>, <a href="https://playwright.dev/" target="_blank">Play Wright </a> and <span class="heart">❤️</span> by <a href="https://www.linkedin.com/in/sgvkamalakar" target="_blank"><strong>Kamalakar</strong></a></p>
    </footer>
</body>
</html>
